<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Tapioca do Bahia</title>
    <link rel="stylesheet" href="/view/style.css">
</head>

<body>

    <header>
        <h1>Tapioca do Bahia</h1>
    </header>

    <section id="sobre-nos">
        <p>
            A melhor do Brasil, bota para torar!
        </p>

        <div class="galeria">
            <img src="/view/imagens/restaurante1.jpg" alt="Foto do restaurante">
        </div>
    </section>
        <div class="sobre-nos">
            <h2>Nossa História</h2>
             <img src="/view/imagens/restaurante2.jpg" alt="Foto do restaurante2">
            <p>
                Servindo o melhor da culinária nordestina, a Tapioca do Bahia nasceu para levar sabor e alegria a cada pedido. Nossa missão é fazer você se sentir em casa com cada mordida. Experimente hoje o verdadeiro sabor que conquista!
            </p>
            <a href="/sobrenos">
                <button class="btn">Saiba Mais</button>
            </a>
        </div>

    <section id="cardapio-botoes">
        <h2>Escolha seu Cardápio</h2>

       <a href="/salgadas">
            <button class="btn">Cardápio Salgado</button>
        </a>

        <a href="/doces">
            <button class="btn">Cardápio Doce</button>
        </a>

        <a href="/bahia">
            <button class="btn">Cardápio Bahia</button>
        </a>
 
        <a href="/bebidas">
            <button class="btn">Cardápio Bebidas</button>
        </a>
    </section>
    

<div class="galeria">
        <img src="/view/imagens/restaurante6.jpg" alt="Foto do restaurante">
    </div>
        <p>Segunda a quinta: 20:30h às 02h30</p>
        <p>Sexta e sábado: 20:30h às 03h30</p>
        <p>Vem saborear as melhores tapiocas da região!</p>

    <header>Nos acompanhe nas redes sociais</header>
    <section id="redes-sociais">
        <a href="https://www.instagram.com/tapioca_do_bahia/" target="_blank">
            <img src="/view/imagens/instagram-icon.png" alt="Ícone do Instagram">
        </a>
        <a href="https://www.facebook.com/tapiocadobahia/?ref=_xav_ig_profile_page_web" target="_blank">
            <img src="/view/imagens/facebook-icon.png" alt="Ícone do Facebook">
        </a>
        <a href="https://wa.me/5511919478993" target="_blank">
            <img src="/view/imagens/whatsapp-icon.png" alt="Ícone do WhatsApp">
        </a>
        <a href="https://www.tiktok.com/@tapiocadobahia.01" target="_blank">
            <img src="/view/imagens/tiktok-icon.png" alt="Ícone do TikTok">
        </a>

     <p>Site codificado por @zzvinii</p>
     <p>https://github.com/Vinicode7</p>
    </section>

</body>
</html>
