<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Tapiocas Salgadas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/salgadas.css') }}">
</head>

<body>

    <h1>Tapiocas Salgadas</h1>

    <ul class="lista-salgadas">
        {% for item in cardapio %}
            <li>
                <span class="id">{{ item.id }}</span> -
                <span class="desc">{{ item.descricao }}</span> -
                <span class="preco">R$ {{ item.preco }}</span>
            </li>
        {% endfor %}
    </ul>

    <a href="/">
        <button class="btn-voltar">Voltar</button>
    </a>

</body>
</html>
