<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Sobre nós</title>
    <link rel="stylesheet" href="/static/css/sobre-nos.css">
</head>

<body>

    <h1>Nossa História</h1>
    <p>
        A Tapioca do Bahia começou de forma simples, com uma pequena barraquinha e um grande sonho: levar o verdadeiro sabor da tapioca para as pessoas. Desde o início, o foco sempre foi o mesmo, oferecer um produto bem feito, saboroso e preparado com carinho. Com o apoio dos clientes e muito trabalho diário, a barraquinha foi crescendo, conquistando cada vez mais pessoas da região. Hoje, o Bahia tem seu próprio espaço, um lugar pensado para receber todos com conforto, mantendo a essência simples e acolhedora que sempre fez parte da nossa história.
    </p>
        <div class="galeria">
            <img src="/view/imagens/restaurante3.jpg" alt="Foto do restaurante2">
        </div>

    <h1>Nosso Jeito de Fazer</h1>
    <p>
        Aqui na Tapioca do Bahia, acreditamos que qualidade faz toda a diferença. Por isso, nossas tapiocas são preparadas na hora, com massa sempre fresquinha e recheios selecionados. Cada pedido é feito com atenção aos detalhes, respeitando as receitas tradicionais e trazendo opções doces, salgadas e tradicionais. Mais do que vender comida, buscamos entregar uma experiência de sabor, feita com dedicação e respeito a quem escolhe comer conosco.    
    </p>
        <div class="galeria">
                <img src="/view/imagens/restaurante4.jpg" alt="Foto do restaurante">
            </div>

     <h1>Nosso Espaço</h1>
    <p>
        Atualmente, estamos localizados na R. Rainha das Missões, 304 – Vila Missionária, em um espaço próprio criado para melhor atender nossos clientes. Pensamos em cada detalhe para oferecer um ambiente agradável, simples e familiar, perfeito para quem quer comer bem a qualquer hora da noite. A Tapioca do Bahia é o lugar certo para reunir amigos, família ou fazer aquela pausa gostosa para saborear uma boa tapioca.
    </p>
        <div class="galeria">
                    <img src="/view/imagens/restaurante5.jpg" alt="Foto do restaurante">
                </div>

     <a href="/">
    <button>Voltar</button>
</a>

</body>
</html>
