body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #fafafa;
    overflow-y: auto; /* scroll vertical */
}

/* Scroll bonito */
body::-webkit-scrollbar {
    width: 8px;
}
body::-webkit-scrollbar-thumb {
    background: #e63946;
    border-radius: 10px;
}
body::-webkit-scrollbar-track {
    background: #eee;
}

header {
    background: #e63946;
    padding: 20px;
    text-align: center;
    color: white;
}

h1, h2 {
    text-align: center;
}

#sobre-nos {
    width: 80%;
    margin: auto;
    padding: 20px;
    text-align: center;
}

.galeria {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 15px;
}

.galeria img {
    width: 300px;
    border-radius: 10px;
}

.btn {
    padding: 15px 30px;
    font-size: 18px;
    margin: 10px;
    background-color: #457b9d;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.btn:hover {
    background-color: #1d3557;
}

#cardapio-botoes {
    text-align: center;
    margin: 30px 0;
}

#redes-sociais {
    text-align: center;
    padding: 20px;
}

#redes-sociais img {
    width: 40px;
    margin: 10px;
}
